#img-txt {
  display: flex;
  margin-bottom: 50px;
  padding-left: 10vw;
  padding-right: 10vw;
}

#imgdiv {
  margin-right: 20px;
}

#txtdiv {
  background-color: $wrapperopacity;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#img-txt img {
  border-radius: 10px;
}

#aboutshowcase {
  background: none;
}