#img-txt {
  display: flex;
  margin-bottom: 50px;
  margin-top: 30px;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

#imgdiv {
  margin-right: 20px;
}

#txtdiv {
  background-color: $wrapperopacity;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#img-txt img {
  border-radius: 10px;
}

#aboutshowcase {
  background: none;
}

#aboutwrapper {
  padding-top: 150px;
}

button h2 {
  font-size: 25px;
  padding: 0px;
  margin: 0px;
}