#img-txt {
  display: flex;
  margin-bottom: 50px;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 80%;
}

#imgdiv {
  margin-top: 20px;
  margin-right: 50px;
}

#img-txt img {
  border-radius: 50px;
}

#aboutshowcase {
  background: none;
}