#formwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
}

textarea {
  display: block;
  background: none;
  border: 1px solid $titlecolor;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  transition: outline $transitiontxt;
}

input {
  background: none;
  border: 1px solid $titlecolor;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  transition: outline $transitiontxt;
}

input:focus, textarea:focus {
  outline: 1px solid white;
}

#inputwrap {
  position: relative;
  margin-bottom: 30px;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: -1;
  font-size: 14px;
  color: rgba($titlecolor, 0.5);
  cursor: text;
  transition: top $transitiontxt, left $transitiontxt, 
      background-color $transitiontxt,
      color $transitiontxt, padding $transitiontxt
}

input:not(:placeholder-shown) ~ label, textarea:not(:placeholder-shown) ~ label {
  top: -14px;
  left: 5px;
  background-color: black;
  color: $titlecolor;
  padding: 5px;
  z-index: 1;
}

input:focus ~ label, textarea:focus ~ label, input:hover ~ label, textarea:hover ~ label, label:hover {
    top: -14px;
    left: 5px;
    background-color: black;
    color: $titlecolor;
    padding: 5px;
    z-index: 1;
}

input:-webkit-autofill, input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus, 
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset;
  box-shadow: 0 0 0 30px black inset;
  -webkit-text-fill-color: white;
  -webkit-caret-color: white;
  caret-color: white;
}



