html {
  background-color: black;
  color: #FCF1C4;
}

body {
  background-color: rgba(0,0,0,0.6);
}

h1 {
  font-family: $titlefont;
  font-size: 80px;
}

h2 {
  font-family: $subtitlefont;
  font-size: 60px;
}

a {
  color: #FCF1C4;
  text-decoration: none;
}