html {
  background-color: black;
  color: $titlecolor;
}

body {
  background-color: rgba(0,0,0,0.6);
}

h1 {
  font-family: $titlefont;
  font-size: 80px;
}

h2 {
  font-family: $subtitlefont;
  font-size: 40px;
}

a {
  color: $titlecolor;
  text-decoration: none;
}

button {
  padding: 10px;
  background-color: $titlecolor;
  border-radius: 10px;
  width: 320px;
  border: 0px;
  cursor: pointer;
}

iframe {
  display: none;
}

form p {
  font-size: 10px;
  text-align: center;
}

textarea {
  height: 200px;
  resize: vertical;
}