header {
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: $wrapperopacity;
  width: 100vw;
}

header a {
  font-size: 20px;
  margin: 0px 15px 0px 15px;
  font-weight: 600;
  font-family: $titlefont;
}

#left-nav {
  margin-top: 5px;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 10px;
}

#right-nav {
  display: flex;
  flex-direction: row;
  
}

#right-nav div {
  margin-right: 10px;
}