header {
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,1);
  width: 100vw;
}

header a {
  font-size: 20px;
  margin: 0px 20px 0px 20px;
  font-weight: 600;
  font-family: $titlefont;
}

#left-nav {
  margin-top: 3px;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}