header {
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100vw;
}

header a {
  font-size: 20px;
  margin: 0px 10px 0px 10px;
  font-weight: 600;
  font-family: $navfont;
}

#left-nav {
  margin-top: 5px;
}

#left-nav :last-child {
  margin-right: 20px;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
}

#right-nav {
  display: flex;
  flex-direction: row;
}

#right-nav div {
  margin-right: 10px;
}