

@media only screen and (max-width: 700px) {
  .module {
    height: 200px;
    width: 85vw;
    margin-left: 20px;
  }

  #modwrapper {
    width: 88vw;
  }

  #modwrapper img {
    height: 200px;
    width: 95vw;
    margin-right: 0px;
    float: none;
  }

  h1 {
    font-size: 55px;
  }

  #titlewrap h2 {
    width: 379px;
    font-size: 25px;
  }

  form p {
    width: 320px;
  }

  #titlewrap {
    height: 500px;
  }

  #spacer {
    height: 40%
  }
}


@media only screen and (max-width: 500px) {
  h1 {
    font-size: 48px;
  }

  #titlewrap h2 {
    width: 335px;
    font-size: 23px;
  }

  #titlewrap {
    height: 400px;
  }

  #spacer {
    height: 50%
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 30px;
  }

  #titlewrap {
    min-width: 300px;
  }

  #spacer {
    height: 60%
  }

  #titlewrap h2 {
    width: 212px;
    font-size: 18px;
  }

  #nav {
    flex-direction: column;
  }

  #right-nav {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 200px;
  }
}