

@media only screen and (max-width: 700px) {
  .module {
    height: 200px;
    width: 85vw;
    margin-left: 20px;
  }

  #modwrapper {
    width: 88vw;
  }

  #modwrapper img {
    height: 200px;
    width: 95vw;
    margin-right: 0px;
    float: none;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 35px;
  }

  #titlewrap h2 {
    width: 482px;
  }

  form p {
    width: 320px;
  }

  #formwrap {
    margin-top: 72px;
  }

  #titlewrap {
    height: 500px;
  }

  #spacer {
    height: 48%
  }
}


@media only screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  #titlewrap h2 {
    width: 352px;
  }

  #titlewrap {
    height: 400px;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  #titlewrap {
    min-width: 300px;
    height: 300px;
  }

  #spacer {
    height: 50%
  }

  #titlewrap h2 {
    width: 265px;
  }
}