

@media only screen and (max-width: 780px) {
  .module, #aboutshowcase .module {
    height: auto;
    margin-left: 20px;
    padding-bottom: 10px;
  }

  #modwrapper {
    width: 90vw;
  }

  #modwrapper img {
    height: 200px;
    width: 90vw;
    margin-right: 0px;
    float: none;
  }

  .bodywrap {
    -webkit-background-size: 150vw;
    -moz-background-size: 150vw;
    -o-background-size: 150vw;
    background-size: 150vw;
  }

  h1 {
    font-size: 60px;
  }

  #hamburger {
    display: block;
  }

  #socialicon {
    display: none;
  }

  #titlewrap h2 {
    font-size: 26px;
  }

  header a {
    font-size: 15px;
    margin: 5px;
  }

  #spacer {
    height: 35vh
  }

  #img-txt {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  #imgdiv {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  #aboutshowcase #modwrapper img {
    width: 90vw;
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  #right-nav div {
    margin-right: 3px;
  }

  #left-nav :last-child {
    margin-right: 10px;
  }

  #titlewrap h2 {
    font-size: 17px;
  }

  label {
    top: -27px;
    left: 12px;
    color: $titlecolor;
    padding: 5px;
    z-index: 1;
  }

  #imgdiv img {
    height: 250px;
    width: 250px;
  }

  .module-wrapper {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 390px) {
  h1 {
    font-size: 35px;
  }

  #titlewrap {
    min-width: 300px;
    // height: 250px;
  }

  #spacer {
    height: 30vh
  }


  #titlewrap h2 {
    font-size: 16px;
  }

  #rightnav div {
    display: flex;
    flex-direction: column;
  }

  #modwrapper {
    padding-bottom: 20px;
  }

  #imgdiv img {
    height: 200px;
    width: 200px;
  }

  form {
    width: 250px;
  }

  textarea, input {
    width: 220px;
  }
}