$titlefont: 'Staatliches';
$subtitlefont: 'Caveat';
$titlecolor: #fdfaec;

:export {
  tf: $titlefont;
  sf: $subtitlefont;
  tc: $titlecolor;
}

@import 'splash.scss';
@import 'general.scss';
@import 'showcase.scss';
@import 'header.scss';
@import 'form.scss';
@import 'responsive.scss';