$moduleheight: 200px;
$modulewidth: 90vw;
$imagewidth: 40vw;
$imageheight: 240px;

#showcase h3 {
  text-align: center;
  font-size: 30px;
  font-family: $subtitlefont;
}

.module {
  width: $modulewidth;
  height: $moduleheight;
  display: block;
  border-radius: 10px;
}

.module h4 {
  font-size: 30px;
  font-family: $titlefont;
  margin-bottom: 0px;
}

#modwrapper {
  width: $modulewidth;
  overflow: hidden;
  border-radius: 10px;
  margin: 0px 20px 30px 20px;
  padding-right: 20px;
  background-color: rgb(26, 26, 26);
}

#modwrapper img {
  float: left;
  width: $imagewidth;
  min-width: 300px;
  height: $imageheight;
  object-fit: cover;
  margin-right: 20px;
}

#showcase.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.9);
}



