.wrapper {
  width: 100vw;
  min-height: 200px;
}

#titlewrap {
  text-align: right;
  line-height: 0.8;
  background-color: rgba(0,0,0,0.1);
  height: 600px;
}

#spacer {
  height: 40%;
}

#titlewrap h1 {
  display: block;
  margin: 0 auto;
  color: #FCF1C4;
  text-align: center;
}

#titlewrap h2 {
  width: 680px;
  padding-right: 10px;
  display: block;
  margin: 0 auto;
  color: #FCF1C4;
}

#splashwrap {
  background-image: url('https://live.staticflickr.com/65535/51760065839_becee18bdc_h.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}