.wrapper {
  width: 100vw;
  min-height: 200px;
}

#titlewrap {
  text-align: center;
  line-height: 0.8;
  background-color: $bodyimagescreen;
  height: 500px;
  color: $titlecolor;
}

#spacer {
  height: 40%;
}

#titlewrap h1 {
  display: block;
  margin: 0 auto;
}

#titlewrap h2 {
  padding-right: 10px;
  display: block;
  margin: 0 auto;
}

#splashwrap {
  background-image: url('https://hikers-guide.s3.us-west-1.amazonaws.com/HikersGuide_GP2/IMG_7544.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}